.Authorzization {
  box-shadow: -1px 8px 49px 16px #5f44b7;
  -webkit-box-shadow: -1px 8px 49px 16px #5f44b7;
  -moz-box-shadow: -1px 8px 49px 16px #5f44b7;
  max-height: 600px;
  min-width: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  background-color: white;  
  height: 700px;
}
.rabitImage {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    scale: 1.5;
  }
}
.Log {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

