
.card {
  
  
  background-color: transparent;
  width: 200px;
  height: 250px;
  border: 1px solid transparent;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.content {
 
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  
  
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.card:hover .content {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 15px;
}

.front {
  background-color: rgb(100, 85, 145);
  color: black;
  padding: 100px 0;
  text-align: center;
}

/* Style the back side */
.back {
  background-color: rgb(100, 146, 161);
  color:black;
  transform: rotateY(180deg);
  padding: 100px 0;
  text-align: center;
}
